name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install pandas ruff

    - name: Run ruff
      run: ruff check .
      
    - name: Run execute.py to generate result.json
      run: python execute.py > result.json

    - name: Upload artifact result.json
      uses: actions/upload-pages-artifact@v1
      with:
        path: ./

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages

    steps:
    - name: Deploy GitHub Pages
      uses: actions/deploy-pages@v2
